<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tech Blog</title>
  <link rel="stylesheet" href="/css/style.css">
  </head>

  <body>
      <div class="header">
          <nav>
          <a href="/">Homepage</a>
          <a href="/dashboard">Dashboard</a>
          <a href="/login">Login</a>
          <a href="/signup">Sign Up</a>
          <a id="logout" href="#">Logout</a>
          </nav>

          <h1 id="title">Coding Blog</h1>
      </div>

      <div class="wrapper">
          <main>
              {{{ body }}}
          </main>
      </div>
     <script src="/src/pages/Logout.js"></script>

      
  </body>